
.mute-form {
    margin-top: 30px;
  }
  
  .mute-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-button {
    background-color: #28a745;
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  
  .mute-button {
    background-color: #007bff;
  }
  
  .mute-button:hover {
    background-color: #0069d9;
  }

  @media (max-width: 600px) {
    .button-group {
      flex-direction: column;
      gap: 10px;
    }
  
    .button {
      width: 70%;
      font-size: 16px;
    }
    .remove-segment-btn{
      width: 70%;
      font-size: 16px;
    }

    .segment-input {
      flex-direction: column !important;
    }
  
    .segment-input input {
      width: 80%;
    }
  
    
  }
  